<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>addeventlistener</title>
  </head>
  <link rel="stylesheet" href="src/assets/styles/style.css">
  <body>
    <!-- <div id="app"></div>
    SEE IF YOU WANT TO USE A SIMILAR FORMAT WITH .VUE FILES IN ORDER TO DO
    THE PAGE RENDERING. THE STYLE USED IS SCSS (SASS 3)
  -->


    <div id="navigation-tags">
      <tags>
        <tag name="Home" :selected="true">
          <h1>Here is the tag about the homepage</h1>

          <section>
            <article v-for="position in indexPage">
              <job-title>
                {{position.job_title}}
              </job-title>

              <company>
                <a v-bind:href="position.company_url" target="_blank">
                  {{position.company}}
                </a>
              </company>

              <location>
                {{position.location}}
              </location>

              <dates>
                {{position.start_date}} - {{position.end_date}}
              </dates>

              <ul>
                <description v-for="description in position.description" v-bind:key="description.id">
                  {{description.bullet}}
                </description>
              </ul>

              <image-container>
                <img v-bind:src="position.image_url" v-bind:alt="position.company">
              </image-container>

              <video-container>
                <video v-bind:src="position.video_url" autoplay loop muted width="320">

                </video>
              </video-container>
            </article>
          </section>

        </tag>






        <tag name="About">
          <h1>Here is the tag about me</h1>

          <section>
            <article v-for="position in aboutMe">
              <job-title>
                {{position.job_title}}
              </job-title>

              <company>
                <a v-bind:href="position.company_url" target="_blank">
                  {{position.company}}
                </a>
              </company>

              <location>
                {{position.location}}
              </location>

              <dates>
                {{position.start_date}} - {{position.end_date}}
              </dates>

              <ul>
                <description v-for="description in position.description" v-bind:key="description.id">
                  {{description.bullet}}
                </description>
              </ul>

              <image-container>
                <img v-bind:src="position.image_url" v-bind:alt="position.company">
              </image-container>

              <video-container>
                <video v-bind:src="position.video_url" autoplay loop muted width="320">

                </video>
              </video-container>
            </article>
          </section>
        </tag>






        <tag name="Development Projects">
          <h1>Here is the tag about the projects</h1>
          <article v-for="position in developmentProjects">
            <job-title>
              {{position.job_title}}
            </job-title>

            <company>
              <a v-bind:href="position.company_url" target="_blank">
                {{position.company}}
              </a>
            </company>

            <location>
              {{position.location}}
            </location>

            <dates>
              {{position.start_date}} - {{position.end_date}}
            </dates>

            <ul>
              <description v-for="description in position.description" v-bind:key="description.id">
                {{description.bullet}}
              </description>
            </ul>


            <image-container>
              <img v-bind:src="position.image_url" v-bind:alt="position.company">
            </image-container>

          </article>
        </tag>





        <tag name="Work Experience">
          <h1>Here is the tag about experience</h1>
          <article v-for="position in professionalExperience">
            <job-title>
              {{position.job_title}}
            </job-title>

            <company>
              <a v-bind:href="position.company_url" target="_blank">
                {{position.company}}
              </a>
            </company>

            <location>
              {{position.location}}
            </location>

            <dates>
              {{position.start_date}} - {{position.end_date}}
            </dates>

            <ul>
              <description v-for="description in position.description" v-bind:key="description.id">
                {{description.bullet}}
              </description>
            </ul>


            <image-container>
              <img v-bind:src="position.image_url" v-bind:alt="position.company">
            </image-container>

          </article>

        </tag>





        <tag name="Academic Experience">
          <h1>Here is the tag about academia</h1>
          <article v-for="position in academicExperience">
            <job-title>
              {{position.job_title}}
            </job-title>

            <company>
              <a v-bind:href="position.company_url" target="_blank">
                {{position.company}}
              </a>
            </company>

            <location>
              {{position.location}}
            </location>

            <dates>
              {{position.start_date}} - {{position.end_date}}
            </dates>

            <ul>
              <description v-for="description in position.description" v-bind:key="description.id">
                {{description.bullet}}
              </description>
            </ul>


            <image-container>
              <img v-bind:src="position.image_url" v-bind:alt="position.company">
            </image-container>

          </article>
        </tag>





        <tag name="Skills">
          <h1>Here is the tag about skills</h1>
          <article v-for="position in skillSet">
            <job-title>
              {{position.job_title}}
            </job-title>

            <company>
              <a v-bind:href="position.company_url" target="_blank">
                {{position.company}}
              </a>
            </company>

            <location>
              {{position.location}}
            </location>

            <dates>
              {{position.start_date}} - {{position.end_date}}
            </dates>

            <ul>
              <description v-for="description in position.description" v-bind:key="description.id">
                {{description.bullet}}
              </description>
            </ul>


            <image-container>
              <img v-bind:src="position.image_url" v-bind:alt="position.company">
            </image-container>

          </article>
        </tag>





        <tag name="Hobbies">
          <h1>Here is the tag about hobbies</h1>
          <article v-for="position in hobbies">
            <job-title>
              {{position.job_title}}
            </job-title>

            <company>
              <a v-bind:href="position.company_url" target="_blank">
                {{position.company}}
              </a>
            </company>

            <location>
              {{position.location}}
            </location>

            <dates>
              {{position.start_date}} - {{position.end_date}}
            </dates>

            <ul>
              <description v-for="description in position.description" v-bind:key="description.id">
                {{description.bullet}}
              </description>
            </ul>


            <image-container>
              <img v-bind:src="position.image_url" v-bind:alt="position.company">
            </image-container>

          </article>
        </tag>

        <tag name="Contact">
          <h1>Here is the tag about getting in touch</h1>
        </tag>
      </tags>

    </div>


    <div id="resume">

      <positions-list></positions-list>


    </div>
    <script src="/dist/build.js"></script>





    Technical skills
    Express, PostgreSQL, JavaScript (ES5, ES6), JQuery, REST, Knex.js, Ajax, Regex, Node.js, NPM, HTML, CSS, Vue.js

    ADD LINKEDIN AND GITHUB LINKS
    YOU CAN ALSO ADD MORE EXPERIENCE FROM YOUR LINKEDIN PROFILE
  </body>
</html>
